.cards {
  display: flex;

  &__item {
    @include make-col(3);
    padding: 0 15px;

    .title {
      margin-bottom: 10px;
      padding-top: 20px;
      border-top: 1px solid rgba($judge-grey, 0.6);
    }

    p {
      font-size: 12px;
      line-height: 20px;
    }
  }
}