.cards {
  $this: &;

  display: flex;
  margin: 0 -15px;

  &__top {
    margin: 30px 0 75px;
    text-align: center;

    &--alt {
      margin-top: 180px;
    }
  }

  &__item {
    @include make-col(3);
    padding: 0 15px;
    opacity: 0;

    #{$this}__img {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      height: 100px;
    }

    .title {
      margin: 30px 0 10px;
      padding-top: 20px;
      border-top: 1px solid rgba($judge-grey, 0.6);
    }

    p {
      margin-bottom: 0;
      font-size: 12px;
      line-height: 20px;
    }
  }
}