.diamonds {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;

  .section__landing & {
    width: 400px;
    height: 400px;
  }

  &__item {
    position: absolute;
    opacity: 0;

    &--1 {
      height: 118px;
      width: 69px;
      transform: translateY(30px);

      .section__landing & {
        left: 165px;
        bottom: 80px;
        transform: translateY(30px);
      }

      .section__brand-pillars-craft & {
        top: 240px;
        left: 375px;
        transform: translateY(30px);
      }

      .section__brand-pillars-together & {
        top: 160px;
        left: -26px;
        transform: translateY(30px);
      }

      .section__brand-pillars-play & {
        top: 271px;
        left: 378px;
        transform: translateY(30px);
      }

      .section__audience & {
        top: 179px;
        left: -35px;
        transform: translateY(30px);
      }

      .section__guiding-principles-core & {
        top: 206px;
        left: 101px;
        transform: translateY(30px);
      }

      .section__guiding-principles-kindling & {
        top: 207px;
        left: 463px;
        transform: translateY(30px);
      }

      .section__guiding-principles-flame & {
        top: 139px;
        left: -4px;
        transform: translateY(30px);
      }

      .section__guiding-principles-fuck & {
        top: 214px;
        left: 210px;
        transform: translateY(30px);
      }

      .section__name & {
        top: 133px;
        left: -40px;
        transform: translateY(30px);
      }

      .section__tone-of-voice & {
        top: 240px;
        left: 375px;
        transform: translateY(30px);
      }
    }

    &--2 {
      height: 64px;
      width: 37px;
      transform: translateY(30px);

      .section__landing & {
        left: -18px;
        bottom: 190px;
        transform: translateY(30px);
      }

      .section__brand-pillars-craft & {
        top: 413px;
        left: 329px;
        z-index: 1;
        transform: translateY(30px);
      }

      .section__brand-pillars-together & {
        top: 330px;
        left: 188px;
        z-index: 1;
        transform: translateY(30px);
      }

      .section__brand-pillars-play & {
        top: 234px;
        left: 290px;
        z-index: 1;
        transform: translateY(30px);
      }

      .section__personality & {
        top: 372px;
        left: -13px;
        transform: translateY(30px);
      }

      .section__audience & {
        top: 141px;
        left: 106px;
        z-index: 1;
        transform: translateY(30px);
      }

      .section__guiding-principles-core & {
        top: 392px;
        left: 46px;
        z-index: 1;
        transform: translateY(30px);
      }

      .section__guiding-principles-kindling & {
        top: 131px;
        left: 347px;
        z-index: 1;
        transform: translateY(30px);
      }

      .section__guiding-principles-flame & {
        top: 321px;
        left: 142px;
        z-index: 1;
        transform: translateY(30px);
      }

      .section__guiding-principles-fuck & {
        top: 174px;
        left: 290px;
        transform: translateY(30px);
      }

      .section__name & {
        top: 147px;
        left: 66px;
        z-index: 1;
        transform: translateY(30px);
      }

      .section__tone-of-voice & {
        top: 413px;
        left: 329px;
        z-index: 1;
        transform: translateY(30px);
      }

      &-2 {
        .section__personality & {
          top: 243px;
          left: 464px;
          z-index: 1;
          transform: translateY(30px);
        }
      }
    }

    &--3 {
      height: 42px;
      width: 25px;
      transform: translateY(30px);
      
      .section__landing & {
        left: 109px;
        bottom: -4px;
        transform: translateY(30px);
      }

      .section__brand-pillars-craft & {
        top: 240px;
        left: 231px;
        transform: translateY(30px);
      }

      .section__brand-pillars-together & {
        top: 152px;
        left: 143px;
        transform: translateY(30px);
      }

      .section__brand-pillars-play & {
        top: 217px;
        left: 354px;
        transform: translateY(30px);
      }

      .section__personality & {
        top: 375px;
        left: 159px;
        z-index: 1;
        transform: translateY(30px);
      }

      .section__audience & {
        top: 297px;
        left: 82px;
        transform: translateY(30px);
      }

      .section__guiding-principles-core & {
        top: 369px;
        left: 145px;
        transform: translateY(30px);
      }

      .section__guiding-principles-kindling & {
        top: 280px;
        left: -11px;
        z-index: 1;
        transform: translateY(30px);
      }

      .section__guiding-principles-flame & {
        top: 110px;
        left: 62px;
        transform: translateY(30px);
      }

      .section__guiding-principles-fuck & {
        top: 318px;
        left: 321px;
        z-index: 1;
        transform: translateY(30px);
      }

      .section__name & {
        top: 246px;
        left: 34px;
        transform: translateY(30px);
      }

      .section__tone-of-voice & {
        top: 240px;
        left: 231px;
        transform: translateY(30px);
      }

      &-2 {
        .section__guiding-principles-kindling & {
          top: 342px;
          left: 409px;
          transform: translateY(30px);
        }

        .section__name & {
          top: 242px;
          left: 350px;
          transform: translateY(30px);
        }
      }
    }

    &--4 {
      height: 26px;
      width: 16px;
      transform: translateY(30px);

      .section__landing & {
        left: 51px;
        bottom: 262px;
        transform: translateY(30px);
      }

      .section__brand-pillars-craft & {
        top: 180px;
        left: 302px;
        transform: translateY(30px);
      }

      .section__brand-pillars-together & {
        top: 129px;
        left: 42px;
        transform: translateY(30px);
      }

      .section__brand-pillars-play & {
        top: 135px;
        left: 435px;
        transform: translateY(30px);
      }

      .section__personality & {
        top: 468px;
        left: 48px;
        z-index: 1;  
        transform: translateY(30px);  
      }

      .section__audience & {
        top: 128px;
        left: 92px;
        transform: translateY(30px);
      }

      .section__guiding-principles-core & {
        top: 216px;
        left: 232px;
        transform: translateY(30px);
      }

      .section__guiding-principles-kindling & {
        top: 186px;
        left: 547px;
      }

      .section__guiding-principles-flame & {
        top: 280px;
        left: 167px;
        transform: translateY(30px);
      }

      .section__guiding-principles-fuck & {
        top: 140px;
        left: 284px;
        transform: translateY(30px);
      }

      .section__tone-of-voice & {
        top: 180px;
        left: 302px;
        transform: translateY(30px);
      }

      &-2 {
        .section__personality & {
          top: 267px;
          left: 74px;
          z-index: 1;
          transform: translateY(30px);
        }
      }

      &-3 {
        .section__personality & {
          top: 230px;
          left: 459px;
          z-index: 1;
          transform: translateY(30px);
        }
      }
    }

    &--5 {
      height: 18px;
      width: 10px;
      transform: translateY(30px);

      .section__landing & {
        left: 0;
        bottom: 295px;
        transform: translateY(30px);
      }

      .section__personality & {
        top: 161px;
        left: 547px;
        transform: translateY(30px);
      }

      .section__name & {
        top: 222px;
        left: 346px;
        transform: translateY(30px);
      }

      &-2 {
        .section__name & {
          top: 102px;
          left: 24px;
          transform: translateY(30px);
        }
      }
    }

    &--6 {
      height: 200px;
      width: 112px;
      transform: translateY(30px);

      .section__personality & {
        top: 388px;
        left: 308px;
        transform: translateY(30px);
      }
    }
  }
}