.logos {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  margin-bottom: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba($judge-grey, 0.6);

  &__item {
    @include make-col(5.75);
    padding: 119px 78px;
    text-align: center;
    transform: translateY(80px) scale(1.1);
    transition: all .5s;
    opacity: 0;

    &--dark {
      background-color: $dirty-white;
      border: 1px solid $dirty-white;
    }

    &--light {
      border: 1px solid rgba($judge-grey, 0.6);
    }
  }
}