.logo-lockup {
  position: absolute;
  top: 60px;
  left: 65px;

  &--vert {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -9999;
    width: 80px;
    border-right: 1px solid rgba($judge-grey, 0.6);
    transition: opacity 0.5s;

    img {
      position: relative;
    }

    .logo {
      top: 70px;
      left: 25px;
      height: 47px;
      width: 30px;
    }

    .diamond {
      top: calc(100% - 122px);
      left: 0;
      bottom: 90px;
      width: 10px;
    }
  }
}

:not(.fp-viewing-landing .logo-lockup--vert) {
  z-index: 9999;
  opacity: 1;
}