// Nav

.nav {
  $this: &;

  &__main {
    display: flex;
    list-style-type: none;
    padding-left: 0;

    > li {
      position: relative;
      display: inline-flex;
      width: 200px;
      padding-top: 35px;
      padding-left: 15px;
      font-family: $sans-serif;
      font-size: 22px;
      letter-spacing: 1.22px;
      line-height: 18px;
      text-transform: uppercase;
      opacity: 0;
      transform: translateY(-10px);

      a {
        color: $white;
        text-decoration: none;
        opacity: .4;
        transition: all 0.3s;
        margin-left: -20px;

        &.active,
        &:hover {
          opacity: 1;
          margin-left: -2px;
        }
      }

      #{$this}__sub {
        left: 10px;
      }
    }
  }

  &__sub {
    position: absolute;
    left: 0;
    bottom: 50px;
    list-style-type: none;
    padding-left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;

    &.active {
      visibility: visible;
      opacity: 1;
    }

    &--section {
      position: relative;
      bottom: 0;
      visibility: visible;
      opacity: 1;
    }

    > li {
      margin-bottom: 15px;
      font-family: $serif;
      font-size: 12px;
      line-height: 16px;
      text-transform: none;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        color: $dirty-white;
        letter-spacing: 0;
        text-decoration: none;
        opacity: 1;
        transition: color 0.3s;
        margin-left: 0;

        &.active,
        &:hover {
          color: $bonfire-red;
        }
      }
    }

    &--inner {
      position: relative;
      display: none;
      margin: 20px 0;
      list-style-type: none;
      opacity: 0;
      transition: opacity .5s;

      &:before {
        content: '';
        position: absolute;
        left: 4px;
        top: 15px;
        height: calc(100% - 20px);
        width: 1px;
        background-color: $bonfire-red;
      }

      &.active {
        display: block;
        opacity: 1;
      }

      &.logo {
        &:before {
          height: 80%;
        }
      }

      &.graphics {
        &:before {
          height: 50%;
        }
      }

      li {
        padding-bottom: 20px;

        &:last-child {
          padding-bottom: 0;
        }

        &:before {
          content: url('/assets/toolkit/images/icon--nav-inactive.svg');
          position: relative;
          top: 2px;
          margin-right: 5px;  
        }

        &.active {
          &:before {
            content: url('/assets/toolkit/images/icon--nav-active.svg');
          }

          a {
            color: $bonfire-red;
          }
        }

        a {
          color: $dirty-white;
          font-family: $serif-italic;
          font-size: 12px;
          line-height: 12px;
          letter-spacing: 0.6px;
          transition: color 0.3s;

          &:hover {
            color: $bonfire-red;
            text-decoration: none;
          }
        }
      }
    }
  }
}