---
title: Bonfire Red Style Guide
fabricator: true
---

<section>
  <div class="section flex flex--btwn flex--end">
    <div class="flex__item">
      <h1 class="title title--sm">
        Precision crafted<br>
        in the heart of the Midwest.<br>
        Thoughts become ideas.<br>
        Ideas become form.
      </h1>
    </div>
    <div class="flex__item">
      {{> nav}}
    </div>
  </div>

  <div class="section">
    <div class="section__nav">
      <div class="section__nav-subtitle title title--md">Brand<br>Pillars</div>
      <div class="section__nav-inner">
        {{> nav-our-brand class="nav__sub--section"}}
        <div class="section__nav-title title title--xs">Our Brand</div>
      </div>
    </div>
    <div class="section__content">
      <div class="section__content-subtitle">Our brand represents our story</div>
      <div class="title title--lg">We're true to the craft.</div>
      <p>Growth and greed is the enemy of craft and quality. We changed the playing field for ourselves, and anyone who wants to join us. Our goal is to show how a small, multi-disciplined team of creatives can outperform large behemoth agencies, creating award-winning work. And we can do that while providing competitive salaries, amazing benefits and incredible opportunities for individual growth for every associate.</p>
    </div>
  </div>
</section>