blockquote {
  position: relative;
  padding: 75px 136px 0;
  background-image: url('/assets/toolkit/images/icon--diamond-5.png');
  background-size: 22px;
  background-position: top center;
  background-repeat: no-repeat;
  text-align: center;
  font-family: $sans-serif;
  font-size: 32px;
  letter-spacing: 2px;
  line-height: 38px;
  text-transform: uppercase;

  &:before {
    content: url('/assets/toolkit/images/icon--quote-left.svg');
    position: absolute;
    top: 0;
    left: 104px;
  }

  &:after {
    content: url('/assets/toolkit/images/icon--quote-right.svg');
    position: absolute;
    top: 0;
    right: 104px;
  }

  span {
    color: $bonfire-red;
  }
}

cite {
  display: block;
  margin: 30px auto 0;
  text-align: center;
  font-family: $sans-serif;
  font-size: 22px;
  font-style: normal;
  letter-spacing: 0.44px;
  line-height: 18px;
  text-transform: uppercase;
}