.section {
  position: relative;
  z-index: 1;
  display: flex;
  min-height: $vh;
  padding: 60px 65px;

  &__nav {
    @include make-col(3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-title {
      margin-top: 35px;
    }
  }

  &__content {
    @include make-col(7);

    &-subtitle {
      margin: 15px 0 185px;
      font-family: $sans-serif;
      font-size: 40px;
      letter-spacing: 0.8px;
      line-height: 68px;
      text-transform: uppercase;
    }
  }

  &__landing {
    background-image: url('/assets/toolkit/images/bg--section.png');
    background-size: cover;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-color: rgba($ash-black, 0.9);
  }

  &__line {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: rgba($judge-grey, 0.6);

    &:first-child {
      left: 80px;
    }

    &:nth-child(2) {
      right: 800px;
    }

    &:nth-child(3) {
      right: 600px;
    }

    &:nth-child(4) {
      right: 400px;
    }

    &:last-child {
      right: 200px;
    }
  }
}