.section {
  $this: &;

  position: relative;
  z-index: 1;
  display: flex;
  min-height: $vh;
  padding: 60px 65px;

  &__nav {
    @include make-col(2.5);
    position: fixed;
    top: 5px;
    bottom: 0;
    left: 110px;
    z-index: 9997;
    opacity: 0;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    padding: 60px 0 88px;
    transition: opacity .5s;

    &-title {
      background: none;
      border: none;
      margin-top: 35px;
      color: $dirty-white;

      &:hover {
        &:after {
          opacity: 1;
          transform: translateX(0);
        }
      }

      &:after {
        content: '';
        position: absolute;
        top: 1px;
        right: -16px;
        width: 8px;
        height: 12px;
        background-image: url('/assets/toolkit/images/icon--arrow-nav.svg');
        background-size: cover;
        opacity: 0;
        transform: translateX(-30px);
        transition: all 0.3s;
      }
    }

    &-subtitle {
      transform: rotate(90deg) translateY(-93%);
      transform-origin: top left;
    }

    .fp-viewing-landing & {
      display: none;
    }

    &.active {
      display: flex;
      opacity: 1;

      .fp-viewing-landing & {
        display: none;
      }
    }
  }

  &__content {
    @include make-col(6);
    @include make-col-offset(3);
    position: relative;

    &-subtitle {
      margin: 15px 0 0;
      font-family: $sans-serif;
      font-size: 40px;
      letter-spacing: 0.8px;
      line-height: 68px;
      text-transform: uppercase;
    }

    &--alt {
      @include make-col(4.35);
    }
  }

  &__landing {
    background-image: url('/assets/toolkit/images/bg--section.jpg');
    background-size: cover;

    #{$this} {
      padding: 60px 0 60px 65px;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-color: rgba($ash-black, 0.9);
  }

  &__line {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    background-color: rgba($judge-grey, 0.6);
    transform: translateX(0);
    transition: transform .5s;
  }

  &__inner {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;

    #{$this} {
      padding: 60px 0 90px 100px;
    }
  }

  &__img {
    display: flex;
  }
}