<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{title}}</title>

    <!-- toolkit styles -->
    <link rel="stylesheet" href="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/toolkit/styles/toolkit.css">
    <!-- /toolkit styles -->
  </head>
  <body>
    <div data-fullpage>
      {% body %}
    </div>

    <!-- toolkit scripts -->
    <script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/toolkit/scripts/toolkit.js"></script>
    <!-- /toolkit scripts -->
  </body>
</html>